// @import "variables.scss";

// .blog_area {
//     padding-block: 120px;

//     .heading_area {
//         display: flex;
//         justify-content: center;

//         .heading_text {
//             h1 {
//                 margin-left: 5.6rem;
//             }

//             p {
//                 max-width: 500px;
//                 text-align: center;
//                 color: #625656ca
//             }
//         }

//     }

//     .blog_content {
//         margin-top: 2rem;
//         display: flex;
//         flex-direction: row;
//         gap: 2em;
         
//         .details_blog{
           
//           .container_warpper{
//             .image{
//            box-shadow: 0px 3px 20px -1px rgba(0,0,0,0.63);
//             }
//           }
//         }


  
//     }
// }
@import "variables.scss";

.blog_area {
  padding-block: 120px;

  .heading_area {
    display: flex;
    justify-content: center;

    .heading_text {
      h1 {
        margin-left: 5.6rem;
      }

      p {
        max-width: 500px;
        text-align: center;
        color: #625656ca;
      }
    }
  }

  .blog_content {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2em;
     
    .details_blog{
        .container_wrapper{
            
        .image{
           box-shadow: 0px 3px 20px -1px rgba(0,0,0,0.63);
           

           .img{
              transition: transform 0.5s ease-in-out;

           }
           &:hover img{
             transform: scale(1.05)
           }

        }
    }

        .text_wrapper{
            margin-top: 2rem;

            p1{
                background: black;
                color: white;
                padding: 3px 3px;
            }
            h1{
                font-size: 19px;
                margin-top: 1rem;
                width: 300px;
            }
        }
    }
  }
}
